body {
    /*background-image: url("../image/asanoha-400px.png");*/
}
/*ancienne mise en page*/
/*.connexion {
    display: inline-block;
    background: white;
    margin-top: 25vh;
    margin-left: 29vw;
    border-radius: 10px;
    padding: 2em 3em 3em 3em;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    box-shadow: 8px 5px 5px lightgrey;
}*/

.navbar {
    background: #EDEDEE;
}
header {
    display: flex;
    padding: 1em;
    /*padding-left: 40vw;*/
    background: white;

}

.titre {
    text-transform: uppercase;
    letter-spacing: 10px;
    font-size: 3em;

}

h4 {
    letter-spacing: 3px;
}

.connexion {
    display: flex;
    margin-top:10vh;
    background: #EDEDEE;
    padding: 1em 0 2em 0;
}

.connexion form {
    margin: auto;
    text-align: center;
}

.connexion input {
    margin: 1vh 0;
    border-radius: 2px;
    width: 30vw;
    height: 3vh;
    box-shadow: none;
}

button {
    border-radius: 5px;
}

.copyright {
    display: flex;
    margin-top: 50vh;
    text-align: center;
    font-style: italic;
    color: blue;
}