body {
    background-image: url("../image/asanoha-400px.png");
}
header {
    display: inline-flex;
    padding: 2em;
    margin-left: 40vw;
}
.titre {
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 2em;

}

.connexion {
}

.connexion input {
    width: 20vw;
}

.inscription {
    display: flex;
    margin-top:20vh;
    background: #E1E1E1;
    padding: 1em 0 2em 0;
}

.inscription form {
    margin: auto;
    text-align: center;
}

.inscription input {
    margin: 1vh 0;
    border-radius: 2px;
    width: 30vw;
    height: 3vh;
    box-shadow: none;
}

label {
    text-transform: uppercase;
}

.inscription button {
    margin-top: 2vh;
    border-radius: 2px;
    text-transform: uppercase;
}

.nav